<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap= "http://phonegap.com/ns/1.0"
	id= "S4ENTR4YMZ.br.com.wunderman.danone.monsapp"
	version= "0.0.8">

	<name>Moms App</name> 

	<description>
		Aplicativo para crianças
	</description>

	<author href="https://github.com/fpupor"
			email="fpupor@gmail.com">
	</author>
	
	<gap:plugin name="ChildBrowser" version="~4.0" />
	<gap:plugin name="FacebookConnect">
   		<param name="APP_ID" value="123456" />
 	</gap:plugin>
	
	<gap:platforms>
		<gap:platform name="android" minVersion="2.1" />
		<gap:platform name="ios"/>
	</gap:platforms>

	<preference name="phonegap-version" value="2.3.0" />
	<preference name="target-device" value="handset" />
	<preference name="orientation" value="portrait" />
	<preference name="fullscreen" value="true" />
	<preference name="webviewbounce" value="false" />
	<preference name="disable-cursor" value="true" />
	<preference name="auto-hide-splash-screen" value="false" />
	<preference name="detect-data-types" value="false" />
	
	
	<gap:splash src="splash/ios/Default.png" width="320" height="480" />
	<gap:splash src="splash/ios/Default_at_2x.png" width="640" height="960" />
	<gap:splash src="splash/ios/Default_iphone5.png" width="640" height="1136" />
	<gap:splash src="splash/ios/Default-Landscape.png" width="1024" height="768" />
	<gap:splash src="splash/ios/Default-Portrait.png" width="768" height="1024" />
	
	
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/battery"/>
	<feature name="http://api.phonegap.com/1.0/device"/>
	<feature name="http://api.phonegap.com/1.0/file"/>
	<feature name="http://api.phonegap.com/1.0/notification"/>
	<feature name="http://api.phonegap.com/1.0/accelerometer"/>
	
	<access origin="*" />
</widget>
